.idea
deepfaune-yolov4.weights
efficientnet_22classesOnlycroppedImgAugB3.hdf5
efficientnet_b3_22_produc3.pt
*.pt
__pycache__
testdata/sequence
dist
deepfauneGUI.spec
deepfaune_gui.ini
commands/.cache.sqlite
installer/
scripts/installer_files_utils/
